body{
    height: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
  
  
th,td {
    width: 200px;
    text-align: center;
    border-top: 1px solid gainsboro;
    padding: 5px;
  }
  
  h2 {
    color: #4287f5;
  }