<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

</head>
<body>
  <div class="container col-md-12 border border-2px" style="padding: 0; margin: 0px">
    <div class="card-header"><h5 class="text-center">Drop Promos</h5></div>
    <div class="d-flex">
        <div class="col-md-8 border border-2px rounded" style="padding: 0; margin: 10px">
          <!-- <div class="container"> -->
            <input id="pac-input" class="controls col-md-12 border border-info border-2px rounded" type="text" placeholder="Search Box"/>
          <!-- </div> -->
          <!-- Map Box -->
          <div id="map" class="map border border-2px rounded"></div>
        </div>
        
        <div style="width: 350px">
          <div class="border border-2px" style="margin: 10px; padding: 10px">
            <form name="form1" action="" method="POST">
              <table>
                <tr ><label>Enter Title:</label></tr>  
                <tr ><input type="text" name="name" placeholder="Title" [(ngModel)]="pname" style="width:280px; height: 35px;"></tr>
                <tr ><label>Enter Title:</label></tr>
                <tr><input type="text" name="description" placeholder="Description" [(ngModel)]="pdes" style="width:280px; height: 35px;"></tr>
                <tr><label>Enter Title:</label></tr>
                <tr> <input type="number" name="description" placeholder="Latitude" [(ngModel)]="plat" style="width:280px; height: 35px;"></tr>
                <tr><label>Enter Title:</label></tr>
                <tr><input type="number" name="description" placeholder="Longitude" [(ngModel)]="plong" style="width:280px; height: 35px;"></tr>
                <br>
                <tr>
                    <td colspan="2" align="center">
                      <input type="submit" value="Submit" (click)="saveval()">
                    </td>
                  </tr>
              </table>
          </form>
  
        </div>
      </div> 
    </div>
  </div>
</body>


