<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<head> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1s8GwbJKB--0oFW8jI1sHwRWOGfjMfeY"></script>
</head>
<body>
  <div class="card-body border border-2px rounded">
    <div id="map" class="map border border-2px rounded" style="margin: 5px"></div>
    <!-- <table>
      <tr *ngFor="let promo of promos let i=index">
        <td>{{i+1}}</td>
        <td>{{promo.name}}</td>
        <td>{{promo.description}}</td>
        <td>{{promo.latitude}}</td>
        <td>{{promo.longitude}}</td>
      </tr>
    </table> -->
  </div>
</body>

  <!-- <div ng-app="myApp" ng-controller="myCtrl"> -->
    <!-- <ui-gmap-google-map 
    center='map.center' 
    zoom='map.zoom'> -->
    <!-- <ui-gmap-marker ng-repeat="promo in promos"
      coords="'promo.latitude' + 'promo.longitude'">
  </ui-gmap-marker> -->
 <!-- </ui-gmap-google-map> -->
  <!-- </div> -->

